#Prevent directory listing in all  of my folder
IndexIgnore *
Options -Indexes

#make pages rend without their extension
RewriteEngine on
Options +MultiViews
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

ErrorDocument 404 '<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"><section class="hero is-large"><div class="hero-body"><div class="container has-text-centered"><h1 class="title">404 Error</h1><h2 class="subtitle">Page not found!</h2></div></div></section>'