# prevent directory listing in all  of my folder
Order allow,deny
Allow from all
IndexIgnore *
Options -Indexes

# turn on url rewriting
RewriteEngine on

# redirect to "public" folder
RewriteBase /
RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

# remove the need for .php extention
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
